:root{
    --primary-color: #ee4d2d;
    --text-color: #333;
    --while-color: #fff;
    --border-color:#dbdbdb;
    --gold-color: #faff6c;
    --light-primary-color: #cfa671b2;
    --black-color: #000;
    --secondary-color: #0084ff;

    --star-gold-color: #FFCE3E;
    --overlay-mobile-color: #000000e0;

    --error-color: #f33a58;
    --gray-input-color: #b3b3b3;

    --shadow-color: #7f89a19a;
    --gray-color: #cccbcb;

    --light-blue-color: #498fe64a;
}

a.active{
    color: var(--while-color);
    background: var(--primary-color);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}

/* Button style */

.btn{
    min-width: 120px;
    height: 44px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.6em;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn-color{
    padding: 15px 50px;
    border-radius: 30px;
    border: 3px solid var(--primary-color);
    background-size: 100% 200%;
    background-image: linear-gradient(
        to top,
        var(--primary-color) 50%,
        transparent 50%
    );
    transition: all 0.5s, color 0.1s ease;   
    animation: fadeInUp 1 2s;
}
