:root{
    --primary-color: #4fbffd;
    --text-color: #333;
    --while-color:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: 4px;
}

.col{
    padding-left: 4px;
    padding-right: 4px;
}