                        /* Home */
/* ------------------------------------------------------- */
.header{
    background: var(--while-color);
    border-radius: 0 0 10rem 10rem;
    padding: 7px 0;
    transition: padding ease 0.3s;
    box-shadow: 0 0 3rem #7f89a19a;
}

.header.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.nav{
    padding: 8px 0 0;
    display: inline-block;
    display: flex;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0.8rem 0 0;
    justify-content: space-between;
}

nav.row{
    justify-content: space-between;
    align-items: center;
}

.navbar__left img{
    height: 72px;
    width: 147px;
    border-bottom-left-radius: 5rem;
}

.navbar__right-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 3rem;
}

.navbar__right-list a{
    display: block;
    font-weight: 600;
    padding: 15px 15px;
    margin: 0 5px;
    border-radius: 3rem;
    position: relative;
    transition: all 0.3s;
}

.navbar__right-list a{
    color: var(--primary-color);
    font-size: 17px;
}

.nav-list__menu li:hover a,
.navbar__right > ul > li > a:hover{
    color: var(--while-color);
    background: var(--primary-color);
}

.navbar__right > ul > li{
    position: relative;
}

.navbar__right-list-menu-icon{
    position: relative;
    top: -3px;
    margin-left: 8px;
    font-size: 1.6rem;
}

.navbar__right-list-menu{
    position: absolute;
}

.nav-list__menu{
    display: block;
    width: 120px;
    min-width: 60%;
    position: absolute;
    top: 50px;
    left: 11px;
    background-color: var(--while-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    z-index: 1;
    transition: all ease 0.3s;
    opacity: 0;
}

.nav-list__menu > li a {
    display: block;
    padding: 15px 20px;
    border-radius: unset;
    padding-left: 10px;
    margin: 0;
}

.navbar__right-list-menu:hover .nav-list__menu{
    visibility: visible;
    opacity: 1;
    top: 5.5rem;
}


/* Container */

.container-fluid{
    position: relative;
    background: url(../img/background-slider.jpg) no-repeat fixed center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container-fluid__content{
    z-index: 2;
    position: relative;
    top: 30%;
    line-height: 1.15;
    text-align: center;
    color: var(--while-color);
}

.container-fluid__content > p:first-child,
.container-fluid__content > p:nth-child(2) {
  font-family: "Sacramento", cursive;
}

.container-fluid__content > p:first-child{
    font-size: 72px;
    display: inline-block;
    color: var(--gold-color);
    position: relative;
}

.container-fluid__content > p:first-child::before{
    content: "";
    position: absolute;
    top: -2.2rem;
    right: 5rem;
    width: 50px;
    height: 50px;
    background: url(/assets/img/Vector-Smart-Object.png) no-repeat;
}

.container-fluid__content > p:nth-child(2){
    font-size: 36px;
    padding: 0 0 20px;
}

.container-fluid__content-title{
    font-size: 7.2rem;
    height: 17rem;
  
    color: var(--gold-color);
    font-family: "Pacifico", cursive;
}

.container-fluid__content-title-btn{
    font-size: 15px;
    margin-top: 46px;
}

.container-fluid-btn{
    color: var(--while-color);
}

.btn-color:hover{
    color: var(--while-color);
    background-position: 0 100% ;
}


/* Clouds */
.banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.banner__clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner__clouds img{
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    animation: effectClouds calc(20s * var(--i)) linear infinite;
}

/* About us */
.about{
    padding: 60px;
    display: flex;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content{
    text-align: center;
    padding: 5px 20px;
}

.about__content-intro{
    line-height: 1.5;
    padding: 10px 0;
    font-size: 17px;
}

.about__content-intro h2{
    color: #333;
    cursor: text;
}

.about__content-intro span{
    color: var(--primary-color);
    cursor: text;
}

.about__content-details{
    text-align: justify;
    font-size: 16px;
    padding: 0.5rem 2rem;
    line-height: 2.5rem; 
}

.about__content-book{
    padding: 5rem 0;
}

.about__content-book-btn{
    color: var(--primary-color);
    font-size: 15px;
}

/* Qoute */
.qoute {
    background: url(/assets/img/qt-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    position: relative;
    padding: 10rem 0;
}

.qoute::before {
    content: "";
    background: #000;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.qoute__details {
    position: relative;
    z-index: 1;
}

.qoute__details h3 {
    font-size: 3rem;
    line-height: 3.6rem;
    padding: 1rem 0;
    color: var(--while-color);
    text-transform: unset;
    text-align: center;
}

/* food photo */
.food-photo__list{
    padding: 5rem 0;
}

.food-photo h2{
    text-align: center;
    padding: 16rem 0 3rem 0;
    font-size: 25px;
    line-height: 25px;
}

.food-photo__list-img{
    padding: 10px;
    overflow: hidden;
}

.food-photo__list-img img{
    width: 100%;
    height: auto;   
    border: 0.4rem solid rgb(179, 179, 179);
}

.food-photo__list-img img:hover{
    transition: scale(1.03);
    border: none;
    box-shadow: 0 0 3rem var(--shadow-color);
    transition: all ease 0.3s;
}

/* statistical */
.statistical{
    background: url(../img/statistical-img.jpg) no-repeat center ;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    color: var(--while-color);
    position: relative;
}

.statistical-list::before{
    content: "";
    background: var(--black-color);
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.statistical-list{
    padding: 9rem 0;
    font-size: 1.6rem;
}

.statistical-list__item--left{
    float: left;
    font-size: 60px;
    font-weight: normal;
    margin-right: 15px;
}

.statistical-list__item{
    z-index: 1;
}

.statistical-list__item--right{
    float: left;
    line-height: 14px;
}

.statistical-list__item--right p:last-child{
    padding-top: 7px;
}


/* Comments */

.comments{
    text-align: center;
}

.comments-wrap{
    padding: 5rem 0;
}

.comments h2{
    font-size: 25px;
    padding: 90px 0 50px;
}

.comments__reviews-img img{
    margin: 0 auto;
    height: 15vh;
}

.comments__reviews{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.comments__reviews-info{
    font-size: 1.6rem;
    padding: 20px 0;
}

.comments__reviews-info__rating{
    color: var(--star-gold-color);
}

.comments__reviews-info > p{
    color: var(--text-color);
    padding-top: 15px;
}

.comments__reviews-info > h3 {
    padding: 2rem 0 2rem 0;
    font-size: 3rem;
    color: var(--primary-color);
}

/* Map */
.map{
    text-align: center;
}

.map__crop{
    padding: 5rem 0;
}

/* footer */
.footer__top{
    position: relative;
    border-top: 1px solid var(--light-primary-color);
    border-bottom: 1px solid var(--light-primary-color);
    color: var(--while-color);
    font-size: 1.6em;
    line-height: 1.5;
}


.footer-wrap{
    background: url(../img/footer-bg.jpg) no-repeat center;
    background-size: cover;
}


.footer-wrap::before{
    content: "";
    background: var(--black-color);
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.footer__contents{
    padding: 5rem 0;
    position: relative;
    z-index: 1;
}

.footer__contents-about-details{
    /* text-align: justify; */
    padding: 2rem 0;
}

.footer__contents-about-title{
    text-align: center;
    font-size: 1em;
}

.footer__contents-about-title img{
    height: 72px;
    width: 147px;
}

.footer__contents-about-title h3{
    position: relative;
    padding: 0 0 2rem;
    white-space: normal;
}

.footer__contents-about-title p{
    padding: 0 0 2rem ;
}

.footer__contents-about-title h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--light-primary-color);
}

.footer__contents-about-details--open p{
    text-align: center;
}

.footer__contents-about-details--social{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 ;
}

.footer__contents-about-details--social li{
    padding: 0 1rem 0 0 ;
}

.btn-footer{
    display: block;
    border-radius: 1rem;
    line-height: 3.6rem;
    font-size: 1.8rem;
    text-align: center;
    width: 3.6rem;
    height: 3.6rem;
    color: var(--while-color);
    background: var(--primary-color);
    transition: all 0.3s;
}

.btn-footer:hover{
    background: var(--secondary-color);
}

/* Footer-bottom */

.footer__bottom{
    padding: 1rem 0;
    text-align: center;
    color: var(--while-color);
    background: #000;
    z-index: 1;
}

.footer__bottom p{
    padding: 1rem 0;
    font-size: 1.4rem;
}

#go-to-top {
    /* display: none; */
  
    position: fixed;
    right: 2.5rem;
    bottom: 9.5rem;
    z-index: 1;
  
    width: 5rem;
    height: 5rem;
  
    border-radius: 50%;
  
    text-align: center;
    line-height: 5rem;
  
    color: var(--white-color);
    background: var(--primary-color);
}

#go-to-top i{
    font-size: 15px;
}

                    /* Menu page*/
/* -------------------------------------------------- */
/* nav */
.container-fluid--bg{
    background: url(../img/slider-01.jpg) fixed center center;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
}

.container-fluid--bg::before{
    content: "";
    background-color: var(--black-color);
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.container-fluid--bg__content{
    position: relative;
    top: 40%;
    line-height: 1.15;
    text-align: center;
    color: var(--while-color);
    z-index: 2;
}

.header-page{
    font-size: 72px;
    font-family: "Parisienne", cursive;
    color: var(--gold-color);
}

/* Menu */
.headline{
    font-size: 2rem;
    padding: 7rem 0 3rem;
    text-align: center;
}

.headline h2{
    font-size: 4rem;
    padding: 2rem 0;
}

.special-menu{
    background: url(../img/SpecialMenu-bg-pc.jpg) repeat-y;
    background-size: 100%;
    margin-top: 6rem;
}

.special-menu__content{
    padding: 0 3rem 7rem !important;
}

.special-menu__content-nav{

}

.navbar-menu{

}

.navbar-menu a{
    display: block;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 2rem 1rem !important ;
    border-radius: 1rem;
    transition: all ease 0.3s;
}

.navbar-menu a:hover{
    color: var(--while-color);
    background: var(--primary-color);
}


.navbar-link{

}

.menu-list{
    margin-top: -3rem;
}

.menu-items{
    position: relative;
    margin-top: 3rem;
}

.menu-items p{
    font-size: 1.6rem;
}

.menu-list__items-drink{

}

.menu-items img{
    display: block;
    box-shadow: 0 0 1rem 0.4rem var(--shadow-color);
    width: 100%;
    height: auto;
}

.menu-items__sale{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.7rem 1.5rem;
    border: 0;
    text-align: center;
    color: var(--while-color);
    background: var(--primary-color);
    animation: swing infinite 3s;
    transition: all ease 0.3s;
}

.menu-items__sale::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 10px solid var(--while-color);
    border-bottom: 17px solid transparent;
    margin: 0 auto;
    background: var(--primary-color);
}

.menu-items__sale::after{
    content: "";
    position: absolute;
    top: 0;
    left:  51.5px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 10px solid var(--while-color);
    border-bottom: 17px solid transparent;
    margin: 0 auto;
    background: var(--primary-color);
}

.menu-items:hover .menu-items__details,
.menu-items:hover .menu-items__sale {
  display: none;
}

.menu-items__details{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: auto;
    padding: 0 0.5rem;
    border: 0;
    white-space: normal;
    text-align: center;
    color: var(--while-color);
    background: var(--primary-color);
    font-size: 1.6rem;
    padding: 5px 0;
}

.info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--light-primary-color);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.4s ease;
}

.menu-items:hover .info{
    height: 100%;
}

.info_details{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--while-color);
    padding: 1rem;
    word-break: break-word;
    font-size: 1.6rem;
}

.info_details h4{
    text-align: center;
}

.info_details h4:first-child{
    text-transform: capitalize;
    padding: 2rem 2rem 1rem;
}

.price_discount{
    padding: 0 1rem;
}

                            /*Book table*/
/* ------------------------------------------------------------ */

.book-a-table {
    padding: 4rem 0;
    font-size: 1.6em;
  }
  
  .form-group {
    margin-bottom: 2rem;
    padding: 0 3rem;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    display: block;
    font-weight: 700;
    padding: 1rem 0;
    line-height: 1.8rem;
  }
  
  .form-control {
    height: 6rem;
  
    padding: 0 2rem;
    border: 0.1rem solid var(--gray-input-color);
    border-radius: 0.5rem;
  
    outline: none;
  }
  
  .form-control:hover {
    border-color: var(--primary-color);
  }
  
  .form-group.invalid .form-control {
    border-color: var(--error-color);
  }
  
  .form-group.invalid .form-message {
    color: var(--error-color);
  }
  
  .form-message {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 1rem 0 0;
  }
  
  .form-submit {
    outline: none;
  
    width: 100%;
  
    border: none;
    padding: 2rem 3rem;
    border-radius: 2rem;
  
    cursor: pointer;
  
    color: var(--while-color);
    background-color: var(--primary-color);
  
    transition: all ease 0.3s;
  }
  
  .form-submit:hover {
    background-color: var(--secondary-color);
  }
  
  .required {
    color: var(--red-color);
  }
  
  .book-a-table__input,
  .book-a-table__info {
    padding: 2rem 0 0;
  }
  
  .book-a-table__input h3,
  .book-a-table__info h3 {
    padding: 2rem 0;
    text-align: center;
  }
  
  .book-a-table input,
  .book-a-table select {
    width: 100%;
  }
  
  .book-a-table input:focus {
    outline: none;
    border: 0.2rem solid var(--primary-color);
  }
  
  .book-a-table__submit {
    margin: 0 auto;
    position: relative;
  }
  