/* Mobile and tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    
    .display-on-mobile-tablet{
        display: block !important;
    }
    
    .nav{
        padding: 0.8rem 0;
    }

    /* Container */
}

/* Navbar mobile tablet */
.navbar-swap > i {
    transform: rotate(0);
    transition: transform 0.5s;
}

.navbar-swap > i:hover{
    transform: rotate(180deg);
}

.navbar-btn{
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 23px;
    right: 11vw;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.navbar__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    animation: fadeIn ease 0.3s;
}

.navbar-input:checked ~ .navbar__overlay {
    display: block;
}


.navbar-moble-tablet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    transform: translateX(100%);
    opacity: 0;
    transition: all ease 0.3s;
    background: var(--while-color);
}

.navbar-input:checked ~ .navbar-moble-tablet {
    transform: translateX(0);
    opacity: 1;
}


.navbar-btn--close {
    position: absolute;
    top: 2rem;
    right: 1.4rem;
    width: 90%;
    height: 3rem;
    color: var(--black-color);
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
}
  
.navbar-list {
    margin-top: 6rem;
    margin-top: 79px;
}

  
.navbar-link {
    display: block;
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 600;
}
  
.navbar-link:not(.exit-overlay) {
    padding: 2rem 0;
}
  
.navbar-list li:hover {
    background: var(--gray-color);
}
  
.navbar-link i{
    margin: 0 2rem; 
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
}
  
.exit-overlay label {
    display: block;
    cursor: pointer;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    /* nav */
    .navbar-link i {
        margin: 0 2rem 0 4rem;
    }
    
    .exit-overlay label {
        padding: 2rem 0;
    }

    .footer__contents-contact{
        padding-top: 3rem;        
    }

    .statistical-list__item{
        padding: 22px 20%;
        margin: 0 auto;
    }
}

/*Mobile*/
@media (max-width: 739px) {
    .hide-on-mobile {
      display: none;
    }
  
    .navbar-moble-tablet {
      width: 100%;
    }

    /* navbar */
    .header{
        border-radius: unset !important;
    }

    .navbar__left img{
        width: 10rem;
        height: 5rem;
        margin-left: 1rem;
    }

    .navbar-btn {
        right: 5vw;
    }

    .navbar-input:checked ~ .navbar-moble-tablet {
        color: var(--while-color);
        background: var(--overlay-mobile-color);
    }
    
      .navbar-btn--close {
        color: var(--while-color);
    }
    
    .navbar-list {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .navbar-list li:hover {
        background: unset;
    }
    
    .navbar-list a {
        border-radius: 1rem;
        margin-left: 0;
        white-space: nowrap;
        color: var(--while-color);
    }
    
    .navbar-list a:not(.exit-overlay) {
        padding: 2rem 1.5rem;
    }
    
    .navbar-link i {
        margin: 0 2rem 0 1rem;
    }
    
    .exit-overlay label {
        padding: 2rem 1.5rem;
    }

    /*  qoute*/
    .qoute {
        padding: 6rem 0;
    }
    
    .qoute__details h3 {
        font-size: unset;
        line-height: unset;
    }

    /* footer */
    .footer {
        text-align: center;
    }

    .footer__contents-about-details{
        text-align: unset;
    }

    .footer__contents-about-title h3::after{
        left: 50% !important;
        width: 50% !important;
        transform: translateX(-50%);
    }

    .footer__contents-about col{
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 25%;
    }

    .footer__contents-about-title{
        padding-top: 1rem;
    }

    .footer__contents-contact{
        padding-top: 1rem;        
    }

    /* statistical */
    .statistical-list__item{
        font-size: 14px;
        padding: 5px 18%;
        display: flex;
        align-items: center;
    }

    .statistical-list__item--left{
        font-size: 40px;
        padding-left: 20px;
        line-height: normal;
    }
}